# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
storybook-static

# production
dist

# misc
package
.rpt2_cache
.DS_Store
.env
npm-debug.log
.swp
*.swp
.tgz
*.tgz
stats.json
.vscode